[{:itonami.blueprint/social-impact [:member-engagement :organizational-governance :democratic-representation], :itonami.blueprint/domain :special-interest/advocacy, :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "1114", :itonami.blueprint/name "Senior Official Administrative Support", :itonami.blueprint/governor :advocacy-governor, :itonami.blueprint/robotics false, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1114", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
